/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

body {
  background: #6bb8d2;
  line-height: 1.5;
  font-family: 'Space Mono', monospace;
}
.btn {
  padding: 0.375rem 0.775rem;
  background-color: #6bb8d2;
  color: #fff;
  border-color: transparent;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s linear;
}
.btn:hover {
  background-color: #1f5a6e;
}
main {
  min-height: 100vh;
  display: grid;
  place-items: center;
}
.container {
  width: 90vw;
  max-width: 25rem;
  background-color: #fff;
  border-radius: 10px;
  padding: 2rem;
  box-shadow: 1px 3px 1px rgba(0, 0, 0, 0.3);
  transition: all 0.3s linear;
}
.container:hover {
  box-shadow: 1px 5px 3px rgba(0, 0, 0, 0.5);
}
.title {
  margin: 1rem 0;
  text-align: center;
  color: #6bb8d2;
}
.form {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.input-form,
.submit-btn {
  padding: 0.5rem 1rem;
  font-family: inherit;
  letter-spacing: 1px;
}
.input-form {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.submit-btn {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.input-form {
  flex: 1;
  appearance: none;
  border: 1px solid #6bb8d2;
}

.grocery {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.grocery .btn-container {
  display: flex;
  gap: 0.25rem;
}
.left-side {
  display: flex;
  gap: 1rem;
}
.grocery span {
  text-transform: capitalize;
}

.btn-container button {
  padding: 0;
}
.btn-container svg {
  font-size: 1.5rem;
}

.edit-btn {
  color: #1f5a6e;
  background-color: transparent;
}
.delete-btn {
  color: red;
  background-color: transparent;
}
.btn-container button:hover {
  background-color: transparent;
  transform: rotate(90deg);
}

.alert {
  font-size: 0.875rem;
  text-align: center;
  text-transform: capitalize;
}
.danger {
  background-color: rgb(230, 132, 132);
  color: red;
}
.success {
  background-color: rgb(174, 226, 174);
  color: green;
}
