/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

/* Resetting */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-strong-cyan: hsl(172, 67%, 45%);
  --clr-very-dark-cyan: hsl(183, 100%, 15%);
  --clr-dark-grayish-cyan: hsl(186, 14%, 43%);
  --clr-grayish-cyan: hsl(184, 14%, 56%);
  --clr-light-grayish-cyan: hsl(185, 41%, 84%);
  --clr-very-light-grayish-cyan: hsl(189, 41%, 97%);
  --clr-white: hsl(0, 0%, 100%);
  --font: 'Space Mono', monospace;
  --transition: all 0.3s linear;
  --radius: 0.5rem;
}

body {
  background-color: var(--clr-strong-cyan);
  color: var(--clr-grayish-cyan);
  font-family: var(--font);
}

.btn {
  display: inline-block;
  padding: 0.375rem 0.775rem;
  background-color: var(--clr-very-dark-cyan);
  color: var(--clr-white);
  font-weight: 600;
  font-size: 1rem;
  border: transparent;
  border-radius: 5px;
  transition: var(--transition);
  cursor: pointer;
}
main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.container {
  width: 100%;
  max-width: 50rem;
  background-color: var(--clr-white);
  padding: 2rem;
  display: grid;
  gap: 2rem;
  border-radius: 10px;
}
.title {
  text-transform: uppercase;
  color: var(--clr-dark-grayish-cyan);
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 600;
}

.form-action {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 2rem;
}
.form-action label,
.form-action span {
  font-size: 0.87rem;
  font-weight: 600;
  text-transform: capitalize;
  letter-spacing: 1px;
}
.input-container {
  position: relative;
  padding: 0.375rem 0.775rem;
  margin-bottom: 1rem;
}
.inner-container {
  position: absolute;
  inset: 0;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid var(--clr-very-dark-cyan);
  border-radius: 5px;
  z-index: 9;
  padding: 0.6rem;
}
.inner-container .inner-img {
  width: 0.6rem;
}
input {
  padding: 0.375rem 0.775rem;
  text-align: right;
  appearance: none;
  border: none;
  outline: none;
  z-index: -1;
  font-family: inherit;
  font-weight: 600;
  font-size: 1rem;
  color: var(--clr-very-dark-cyan);
  letter-spacing: 1px;
}
.input-element {
  flex: 1;
}

.btn-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
.tip-btn {
  padding: 0.7rem 1rem;
  letter-spacing: 1px;
  font-family: var(--font);
}
.active-btn {
  background-color: var(--clr-light-grayish-cyan);
}

.tip-btn:hover {
  background-color: var(--clr-light-grayish-cyan);
  color: var(--clr-very-dark-cyan);
}

.people-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.people-header .error {
  color: hsl(350, 78%, 41%);
  letter-spacing: 1px;
}
/* TOTAL */
.review {
  background-color: var(--clr-very-dark-cyan);
  padding: 1.5rem 1rem;
  border-radius: 10px;
}
.amount {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
  text-transform: capitalize;
  letter-spacing: 1px;
}
.amount h4 {
  color: var(--clr-white);
}
.amount span {
  font-size: 0.87rem;
  font-weight: 500;
}
.amount h1 {
  color: var(--clr-strong-cyan);
}
.amount svg {
  fill: var(--clr-strong-cyan);
}
.reset-btn {
  width: 100%;
  background-color: var(--clr-strong-cyan);
  text-transform: uppercase;
  padding: 0.75rem 1rem;
}
.reset-btn:hover {
  background-color: var(--clr-light-grayish-cyan);
  color: var(--clr-dark-grayish-cyan);
}
@media screen and (min-width: 768px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
  .reset-btn {
    margin-top: 3rem;
  }
}
