/* 
Fonts 
*/
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Space+Grotesk:wght@400;600&display=swap');
/* 
Resetting
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Smooth Scrolling */
html {
  scroll-behavior: smooth;
}

:root {
  /* colors */
  --clr-primary-100: #c4c7e0;
  --clr-primary-200: #b0b4d5;
  --clr-primary-300: #9ca1cb;
  --clr-primary-400: #747cb6;
  --clr-primary-500: #282d4d;
  --clr-primary-600: #1f2238;
  --clr-primary-700: #202337;
  --clr-primary-800: #212336;
  /* gray colors */
  --grey-50: #f0f4f8;
  --grey-100: #d9e2ec;
  --grey-200: #bcccdc;
  --grey-300: #9fb3c8;
  --grey-400: #829ab1;
  --grey-500: #627d98;
  --grey-600: #486581;
  --grey-700: #334e68;
  --grey-800: #243b53;
  --grey-900: #102a43;
  /* others */
  --black: #222;
  --white: #fff;
  --blueish: rgba(45, 39, 223, 1) 0%;
  --pinkish: rgba(203, 35, 118, 1);
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 5px;
  --min-width: 90vw;
  --max-width: 1000px;
  /* font */
  --ff-primary: 'Space Grotesk', sans-serif;
  --ff-secondary: 'Pacifico', cursive;
  /* shadows */
  --shadow-1: 0 1px 3px 0 rgba(255, 255, 255, 1),
    0 1px 2px 0 rgba(255, 255, 255, 1);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

body {
  font-family: var(--ff-primary);
  line-height: 1.5;
  background: var(--clr-primary-500);
  background: #141728;
  color: var(--grey-300);
}
.btn {
  display: inline-block;
  padding: 0.375rem 0.775rem;
  border: 1px solid transparent;
  text-transform: capitalize;
  font-weight: 600;
  border-radius: var(--radius);
  background-color: var(--clr-primary-400);
  color: var(--white);
  letter-spacing: var(--spacing);
  transition: var(--transition);
  cursor: pointer;
}
.btn:hover {
  background-color: #1f2238;
}

/* main */
main {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.container {
  width: 90vw;
  margin: 0 auto;
  max-width: 600px;
  background-color: #fff;
  padding: 1.5rem 2rem;
  border-radius: 10px;
  box-shadow: var(--shadow-2);
}

.title {
  text-align: center;
}
.title h2 {
  color: var(--clr-primary-400);
  margin-bottom: 1rem;
}
.underline {
  width: 4rem;
  height: 0.25rem;
  background-color: var(--clr-primary-500);
  margin: 0 auto;
  margin-bottom: 1rem;
}

label {
  display: block;
  text-transform: capitalize;
  color: var(--clr-primary-500);
  font-weight: 600;
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
  letter-spacing: var(--spacing);
}

.form-row {
  margin-bottom: 1rem;
}
input,
select {
  width: 100%;
  padding: 0.6rem 1.2rem;
  outline: none;
  border: 1px solid var(--clr-primary-400);
  appearance: none;
  border-radius: 6px;
  background-color: var(--grey-100);
  color: var(--clr-primary-500);
  text-transform: capitalize;
  letter-spacing: var(--spacing);
}
option {
  padding: 1rem 0;
  margin: 1rem 0;
}
.submit-btn {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  width: 100%;
}
.submit-btn:hover {
  border-color: var(--clr-primary-100);
}

.loading {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: 3px solid var(--white);
  margin: 0 auto;
  border-top-color: var(--clr-primary-500);
  animation: spinner 0.5s linear infinite;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

/* QUESTION */
.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}
.header h4 {
  text-transform: capitalize;
}

.header .category {
  color: var(--pinkish);
}

h2 {
  color: var(--grey-600);
  margin-bottom: 1.5rem;
}

.btn-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1.5rem;
}
.answer-btn {
  width: 70%;
  margin: 0 auto;
}

.next {
  text-align: right;
}
.next-btn {
  background-color: var(--pinkish);
}
.modal {
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
  background-color: transparent;
  z-index: -1;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.show-modal {
  z-index: 1;
  opacity: 1;
}

.modal-content {
  background-color: var(--white);
  border-radius: 10px;
  padding: 2rem;
}

.modal-content span {
  display: block;
  color: var(--grey-900);
  text-transform: capitalize;
  margin-bottom: 1rem;
  font-size: 1.1rem;
}
.play-again {
  display: block;
  margin: 0 auto;
}
