@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap');

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-100: #9fdccf;
  --primary-200: #87d4c3;
  --primary-300: #7acfbd;
  --primary-400: #62c7b1;
  --primary-500: #56c2aa;
  /* grey */
  --grey-50: #f0f4f8;
  --grey-100: #d9e2ec;
  --grey-200: #bcccdc;
  --grey-300: #9fb3c8;
  --grey-400: #829ab1;
  --grey-500: #627d98;
  --grey-600: #486581;
  --grey-700: #334e68;
  --grey-800: #243b53;
  --grey-900: #102a43;
  --font: 'Space Grotesk', sans-serif;
  --black: #000;
  --white: #fff;
  --transition: all 0.3s ease-in-out;
  --spacing: 1px;
  --radius: 8px;
  --backgroundColor: var(--grey-50);
  --color: var(--grey-900);
  --dark-mode-bg: #222;
  --dark-mode-color: #fff;
}

body {
  background-color: var(--grey-50);
  color: var(--grey-900);
  font-family: var(--font);
}

main {
  min-height: 100vh;
  display: grid;
  place-items: center;
}
.container {
  width: 90vw;
  margin-inline: auto;
  max-width: 50rem;
  background: var(--grey-200);
  border: 2px solid var(--primary-500);
  padding: 2rem;
  border-radius: var(--radius);
}

.question {
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: var(--radius);
  border: 1px solid var(--primary-500);
}

.question__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  display: grid;
  place-items: center;
  border: transparent;
  border-radius: 50%;
  background-color: var(--primary-500);
  color: var(--white);
  transition: var(--transition);
  cursor: pointer;
}
.btn:hover {
  transform: rotate(90deg);
}
.btn svg {
  font-size: 1.25rem;
}

.p-container {
  margin-top: 0.5rem;
  height: 0;
  overflow: hidden;
  transition: all 0.3s linear;
}
.show-p {
  height: 3rem;
  overflow: visible;
}
